@model ScreenTimeManager.Models.RuleBase


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p class="modal-title" id="myModalLabel">Create New Fixed Rule</p>
</div>

@using (Html.BeginForm("Create", "ManageRules", FormMethod.Post, new {id = "modalForm"}))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new {@class = "validation-error-text"})

            <div>
                <p>Give this rule a title</p>
                <div>
                    @Html.EditorFor(model => model.RuleTitle, new {htmlAttributes = new {@class = "", placeholder = "Enter a title here"}})
                </div>
                @Html.ValidationMessageFor(model => model.RuleTitle, "", new {@class = "validation-error-text"})
            </div>

            <div>
                <p>Give this rule a description</p>
                <div>
                    @Html.EditorFor(model => model.RuleDescription, new {htmlAttributes = new {@class = "description-text-area", placeholder = "Enter a description here"}})
                </div>
                @Html.ValidationMessageFor(model => model.RuleDescription, "", new {@class = "validation-error-text"})
            </div>

            <div >
                <p>Will this rule add or subtract time?</p>
                <div>
                    @Html.EnumDropDownListFor(model => model.RuleModifier, new {@class = ""})
                </div>
                @Html.ValidationMessageFor(model => model.RuleModifier, "", new {@class = "validation-error-text"})
            </div>

            <div >
                <p>How much time will this rule apply? Format: hh:mm:ss or hh:mm</p>
                <div>
                    @Html.EditorFor(model => model.FixedTimeEarned, new {htmlAttributes = new {@class = ""}})
                </div>
                @Html.ValidationMessageFor(model => model.FixedTimeEarned, "", new {@class = "validation-error-text"})
            </div>

            @Html.HiddenFor(model => model.RuleType)
            @Html.HiddenFor(model => model.VariableRatioNumerator)
            @Html.HiddenFor(model => model.VariableRatioDenominator)
        </div>

    </div>

    <!--Need javascript to submit the form -> Previous code works here. No additional code needed. -->
    <div class="modal-footer">
        <div class="button-container">
            <button class="cancel-apply" type="button" data-dismiss="modal">Cancel</button>
        </div>
        <div class="button-container">
            <button class="confirm-apply" type="submit" id="modal-submit">Create Rule</button> <!-- TODO: Change to id for javascript on click function-->
        </div>
    </div>
}