@using System.Diagnostics.Eventing.Reader
@using ScreenTimeManager.Models.Enums
@model IEnumerable<ScreenTimeManager.Models.RuleBase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create Fixed Rule", "Create", "ManageRules",  new { ruleType = (int)RuleType.Fixed }, htmlAttributes: new { data_modal = "", @class = "link-apply-rule" })
</p>
<br/>
<p>
    @Html.ActionLink("Create Variable Rule", "Create", "ManageRules", new { ruleType = (int)RuleType.Variable }, htmlAttributes: new { data_modal = "", @class = "link-apply-rule" })
</p>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RuleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixedTimeEarned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VariableRatioNumerator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VariableRatioDenominator)
        </th>
        <th></th>
    </tr>
    
    <!-- Rules should not actually be deleted. Just marked as no longer in use. Older time changes might need to use their data-->

    @foreach (var item in Model)
    {
        if (item.IsExpired || item.IsHidden) // If the rule is expired, dont show it. It exists only for historical purposes
        {
            continue;
        }
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RuleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixedTimeEarned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VariableRatioNumerator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VariableRatioDenominator)
        </td>
        <td>@*Html.ActionLink("Create Variable Rule", "Create", "ManageRules", new { ruleType = (int)RuleType.Variable }, htmlAttributes: new { data_modal = "", @class = "link-apply-rule" })*@
            <p>@Html.ActionLink("Edit", "Edit", "ManageRules", new {id = item.Id }, htmlAttributes: new { data_modal= "" } );</p>
            <p>@Html.ActionLink("Details", "Details", "ManageRules", new { id = item.Id }, htmlAttributes: new { data_modal = "" }) </p>
            <p>@Html.ActionLink("Delete", "Delete", "ManageRules", new { id = item.Id }, htmlAttributes: new { data_modal = "" }) </p>
        </td>
    </tr>
}

</table>
