@using MvcContrib.UI.InputBuilder.Views
@model ScreenTimeManager.Models.TimeSubmission

@{
    Layout = null;
}

@* Reminder: ViewBag has the rule needed it to build this modal. ViewBag.Rule *@

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p class="modal-title" id="myModalLabel">Confirm Screen Time Change</p>
</div>

@if (Model == null) // TODO: DEBUG CODE
{
    throw new NullReferenceException();
}

@using (Html.BeginForm("ApplyTime", "RuleBases", null, FormMethod.Post, new { id = "modalForm" }))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        <p><strong>@ViewBag.Rule.RuleTitle</strong></p>
        <p>@ViewBag.Rule.RuleDescription</p>
        
        <!-- Render partial here-->
        
        <!-- <hr/> -->

        <!-- Summary of what will be added-->

        <!--For JS reference TODO: Find a better way to do this-->        
        <meta class="ratio-data" numerator="@ViewBag.Rule.VariableRatioNumerator" denominator="@ViewBag.Rule.VariableRatioDenominator"/>

        @Html.HiddenFor(model => model.RuleBaseId)

        <div class="form-group">
            @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control", min = 0, max = 23 } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Minutes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Minutes, new { htmlAttributes = new { @class = "form-control", min = 0, max = 59 } })
                @Html.ValidationMessageFor(model => model.Minutes, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <p>On submitting, <strong><span id="pendingTime">0h 0m 0s</span></strong> will be charged to the timer</p>

    </div>

    <div class="modal-footer">
        <div class="button-container">
            <button class="cancel-apply" type="button" data-dismiss="modal">Cancel</button>
        </div>

        <div class="button-container">
            <button class="confirm-apply" type="submit">Apply Rule</button> <!-- TODO: Change to id for javascript on click function-->
        </div>
    </div>
}


