@using ScreenTimeManager.Helpers
@using ScreenTimeManager.Models
@model IEnumerable<ScreenTimeManager.Models.TotalScreenTimeChanged>

@if (Model == null) { }
else
{
    <div class="rule-table">
        <h1 class="rule-table-header">Time Applied</h1>
        <table class="rule-table">
            @*BOOTSTRAP INFECTING EVERYTHING*@
            <tr>
                <th class="rule-table">
                    @Html.Encode(@"Time Charged")
                </th>
                <th class="rule-table">
                    @Html.DisplayNameFor(model => model.RecordAddedTime)
                </th>
                <th class="rule-table">@Html.Encode(@"Rule")</th>
                <th class="rule-table">@Html.Encode(@"Approved By")</th>
                <th class="rule-table"></th>
            </tr>

            @foreach (TotalScreenTimeChanged item in Model.Where(tstc => !tstc.IsDenied && tstc.IsFinalized))
            {
                <tr class="table-rule-entry">
                    <td class="@(item.SecondsAdded >= 0 ? "table-cell-time-add" : "table-cell-time-subtract")">
                        <img src="@(item.SecondsAdded >= 0 ? Href("~/Resources/PLUS.png") : Href("~/Resources/MINUS.png"))" alt="PLUSMINUS" class="image-autosize"/>
                        @Html.Encode(TimeSpan.FromSeconds(Math.Abs(item.SecondsAdded)).ToString())
                    </td>
                    <td>
                        @Html.DisplayTimeSpanAsDateTime(modelItem => item.RecordAddedTime)
                    </td>
                    <td>
                        @Html.Encode(item.Rule.RuleTitle)
                    </td>
                    <td>
                        @Html.Encode(item.ApprovedBy == null || item.ApprovedBy.IsEmpty() ? "" : item.ApprovedBy)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new {id = item.Id}, new {data_modal = "", @class = "rule-options-link"})
                    </td>
                </tr>
            }
        </table>
    </div>
}