@using ScreenTimeManager.DataModel.DataContexts
@using ScreenTimeManager.Models
@model ScreenTimeManager.Models.TotalScreenTimeChanged

@using (var ctx = new ScreenTimeManagerContext())
{
    RuleBase ruleBase = ctx.Rules.Find(Model.RuleUsedId);
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
            @(ruleBase != null ? ruleBase.RuleTitle : Html.Encode(@"Error parsing rule data"))
        </h4>
    </div>

    <div class="modal-body">
        <h4>
            @(ruleBase != null ? ruleBase.RuleDescription : Html.Encode(@"Error parsing rule data"))
        </h4>
        <hr/>
        <dl class="dl-horizontal" >
            <dt>
                @Html.Encode(@"Time Charged")
            </dt>

            <dd>
                @Html.Encode(TimeSpan.FromSeconds(Model.SecondsAdded).ToString())
            </dd>

            <dt>
                @Html.Encode(@"Added")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecordAddedDateTime)
            </dd>
        </dl>
    </div>
}
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Ok</button>
</div>
