@using ScreenTimeManager.DataModel.DataContexts
@using ScreenTimeManager.Models
@model ScreenTimeManager.Models.TotalScreenTimeChanged

@using (var ctx = new ScreenTimeManagerContext())
{
    RuleBase ruleBase = ctx.Rules.Find(Model.RuleUsedId);
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
            @Html.Encode(Model.Rule.RuleTitle)
        </h4>
    </div>

    <div class="modal-body">
        <h4>
            @Html.Encode(Model.Rule.RuleDescription)
        </h4>
        <hr/>
        <table class="time-change-detail-table">
            <tr>
                <td class="time-change-detail-cell-title">
                    @Html.Encode(@"Time Applied")
                </td>
                <td class="time-change-detail-cell-content">
                    @Html.DisplayFor(m => m.SecondsAdded)
                </td>
            </tr>
            <tr>
                <td class="time-change-detail-cell-title">
                    @Html.Encode(@"Added")
                </td>
                <td class="time-change-detail-cell-content">
                    @Html.DisplayFor(m => m.TimeHistoryDate.EntriesDate)
                    @Html.DisplayFor(m => m.RecordAddedDateTime)
                </td>
            </tr>
            @if (!Model.RequestedBy.IsEmpty())
            {
                <tr>
                    <td class="time-change-detail-cell-title">
                        @Html.Encode(@"Requested By")
                    </td>
                    <td class="time-change-detail-cell-content">
                        <p>@Model.RequestedBy</p>
                    </td>
                </tr>
            }
            @if (!Model.RequestNote.IsEmpty())
            {
                <tr>
                    <td class="time-change-detail-cell-title">
                        @Html.Encode(@"Request Note")
                    </td>
                    <td class="time-change-detail-cell-content">
                        <p>@Model.RequestNote</p>
                    </td>
                </tr>
            }        
            @if (!Model.ApprovedBy.IsEmpty())
            {
                <tr>
                    <td class="time-change-detail-cell-title">
                        @Html.Encode(@"Approved By")
                    </td>
                    <td class="time-change-detail-cell-content">
                        <p>@Model.ApprovedBy</p>
                    </td>
                </tr>
            }
            @if (!Model.SubmissionNote.IsEmpty())
            {
                <tr>
                    <td class="time-change-detail-cell-title">
                        @Html.Encode(@"Approval Note")
                    </td>
                    <td class="time-change-detail-cell-content">
                        <p>@Model.SubmissionNote</p>
                    </td>
                </tr>
            }      

        </table>
    </div>
}
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Ok</button>
</div>