@model ScreenTimeManager.Models.TotalScreenTimeChanged

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TotalScreenTimeChanged</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecondsAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondsAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordAddedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordAddedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuleUsedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuleUsedId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
