@using ScreenTimeManager.DataModel.DataContexts
@using ScreenTimeManager.Models
@model IEnumerable<ScreenTimeManager.Models.TotalScreenTimeChanged>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.Encode(@"Time Charged")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordAddedDateTime)
        </th>
        <th>
            @Html.Encode(@"Rule")
        </th>
        <th></th>
    </tr>
    @using (var ctx = new ScreenTimeManagerContext())
    {
        foreach (var item in Model)
        {
            <tr class="@(item.SecondsAdded >= 0 ? @"history-add" : @"history-subtract")">
                <td>
                    @Html.Encode(TimeSpan.FromSeconds(item.SecondsAdded).ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordAddedDateTime)
                </td>
                <td>
                    @{ RuleBase ruleBase = ctx.Rules.Find(item.RuleUsedId); }
                    @if (ruleBase != null)
                    {
                    @Html.Encode(ruleBase.RuleTitle)
                    }
                    else
                    {
                    @Html.Encode(@"Unknown rule")
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new {id = item.Id}, htmlAttributes: new {data_modal = "", @class = "history-details-" + item.Id + " history-detail-link"})
                </td>
            </tr>
        }
    }

</table>
