@using ScreenTimeManager.DataModel.DataContexts
@using ScreenTimeManager.Helpers
@using ScreenTimeManager.Models
@model IEnumerable<TotalScreenTimeChanged>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="time-history-page-nav">
        @Html.PagedDateActionLink(ViewBag.PreviousDate as TimeHistoryDate, "Index", "ScreenTimeHistory")
        @Html.PagedDateActionLink(ViewBag.SelectedDate as TimeHistoryDate, "Index", "ScreenTimeHistory")
        @Html.PagedDateActionLink(ViewBag.NextDate as TimeHistoryDate, "Index", "ScreenTimeHistory")
</div>


<table class="table">
    <tr>
        <th>
            @Html.Encode(@"Time Charged")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordAddedTime)
        </th>
        <th>
            @Html.Encode(@"Rule")
        </th>
        <th></th>
    </tr>
        @foreach (var item in Model)
        {
            <tr class="@(item.SecondsAdded >= 0 ? @"history-add" : @"history-subtract")">
                <td>
                    @Html.Encode(TimeSpan.FromSeconds(item.SecondsAdded).ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeHistoryDate.EntriesDate)
                    @Html.DisplayTimeSpanAsDateTime(modelItem => item.RecordAddedTime)
                </td>
                <td>
                    @Html.Encode(item.Rule.RuleTitle)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new {id = item.Id}, htmlAttributes: new {data_modal = "", @class = "history-details-" + item.Id + " history-detail-link"})
                </td>
            </tr>
        }
</table>
